<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }} | {{ .Site.Title }}</title>
        {{ partial "meta" . }}
        {{ partial "favicon" . }}
        
        {{$tailwind := resources.Get "css/tailwind.css" | resources.PostCSS}}
        {{if (eq (getenv "NODE_ENV") "production")}}
            {{$tailwind = $tailwind | minify | fingerprint | resources.PostProcess}}
        {{end}}
        <link rel="stylesheet" type="text/css" href="{{$tailwind.Permalink}}">
    
    </head>
    <body class="h-screen">
        <div class="max-w-5xl mx-auto px-8 py-12">
            {{- block "main" . }}{{- end }}
        </div>
    </body>
</html>
