@tailwind utilities;
@plugin "@tailwindcss/typography";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@theme static {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px; /* Ensure this line exists and is correct */
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --font-display: "Inter", sans-serif;
}

a {
    @apply text-blue-500 underline;
}

ul {
    @apply text-2xl ml-5 pl-5 list-disc;
}

p {
    @apply mb-4;
}

h2 {
    @apply text-lg font-light text-gray-500;
}

.copy-btn {
    @apply absolute top-1 right-1 bg-[#5f696d] p-1 rounded border border-[#a0a0a0] hover:border-[#c4c4c4];
}

.copy-icon {
    @apply text-[#c8c8c8];
}

.copy-btn:hover .copy-icon {
    @apply text-[#c4c4c4];
}
