<header class="container">
    <a href="/" class="logo-link">
        {{ $logo := resources.Get "images/shot.png" }}
        {{ $logo := $logo.Process "webp resize 100x" }}
        <img src="{{ $logo.RelPermalink }}" alt="logo" width="50" height="50">

        <span></span>
    </a>
    <nav>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>

    <a href="mailto:antonio@pagano.id" role="button">
        Contact
    </a>
</header>
