{{ define "main" }}
    <div class="flex flex-row space-x-3 items-center mb-3 ">
        <div class="flex-shrink-0">
            <img src="/images/T024F5PR4-U02MFCZU4-689f04365a48-192.gif" alt="antonio draw" class="h-20 w-20 rounded-full">
        </div>
        <div>
            <h1 class="text-3xl font-bold"> {{ .Params.HeaderName }}</h1>
            <h2 class="">{{ .Params.Subtitle }}</h2>
        </div>
    </div>
    
    <div class="text-2xl mb-5">
        {{ .Content }}
    </div>
    
    <h2 class="uppercase tracking-wider">Work</h2>
    <div class="text-2xl mb-5">
        {{ range where .Site.Pages "Params.Title" "Work" }}
            {{ .Content }}
        {{ end }}
    </div>

    <h2 class="uppercase tracking-wider">Entrepreneur</h2>
    <div>
        {{ range where .Site.Pages "Params.Section" "entrepreneur" }}
            <h3 class="text-2xl font-medium">{{ .Title }}</h3>
            <div class="text-2xl mb-4">
                {{ .Content }}
            </div>
        {{ end }}
    </div>

    <h2 class="uppercase tracking-wider">Social</h2>
    <div class="text-2xl mb-4">
        {{ range where .Site.Pages "Params.Title" "Social" }}
            {{ .Content }}
        {{ end }}
    </div>

{{ end }}