{{ define "main" }}
    <div class="flex flex-row space-x-3 items-center mb-3 ">
        <div class="flex-shrink-0">
            <img src="/images/T024F5PR4-U02MFCZU4-689f04365a48-192.gif" alt="antonio draw" class="h-20 w-20 rounded-full">
        </div>
        <div>
            <h1 class="text-3xl font-bold">Antonio Pagano</h1>
            <h2 class="text-lg text-gray-500">Husband and Father, Founder, Software engineering leader.</h2>
        </div>
    </div>
    
    <p class="text-2xl mb-5">
        Hi 👋 ! I'm Antonio, a proud husband and father of 2, a software engineering leader, founder of 
        <a class="text-blue-500 underline" href="https://wawand.co/">Wawandco</a> and Co-founder 
        of <a class="text-blue-500 underline" href="https://symbolsecurity.com/">SymbolSecurity</a>.
        I'm also a sports passionate, used to play volleyball, beach volleyball and baseball. I  still follow some my 
        local teams and try to keep myself connected with the world of sports.
    </p>
    
    <h2 class="text-lg font-light text-gray-500 uppercase tracking-wider">Professional</h2>
    <p class="text-2xl mb-5">
        I'm a software engineering leader with more than 15 years of experience designing and developing software solutions for 
        established companies and startups. I have had the pleasure to see my career evolve from being a junior contributor
        to lead small teams and then lead large multidisciplinary teams of contributors.  Within those years of experience I also 
        have worked on challenges with variated company sizes, tools and technologies, my focus has always been early value 
        delivering and scalability.
    </p>

    <h2 class="text-lg font-light text-gray-500 uppercase tracking-wider">Entrepreneur</h2>
    <h3 class="text-2xl font-medium">Wawandco</h3>
    <p class="text-2xl mb-4">
        I'm the founder of <a class="text-blue-500 underline" href="https://wawand.co/">Wawandco</a>, a web development company based 
        in Barranquilla, Colombia And mostly serving the US and Europe markets. Wawandco is a software partner for growing businesses. At 
        Wawandco we focus on providing software development teams that are highly efficient and  deeply focused on delivering value to 
        our customers. To know more about Wawandco you can get to know more by <a class="text-blue-500 underline" href="https://wawand.co/">
        visiting our website</a>.
    </p>

    <h3 class="text-2xl font-medium">Symbol Security</h3>
    <p class="text-2xl mb-4">
        I'm co-founder of <a class="text-blue-500 underline" href="https://symbolsecurity.com/">Symbol Security</a>, a cyber security SaaS focused on raising Cyber awareness within organizations through a holistic 
        self developed method for identifying risks and vulnerabilities in organizations human factor and mitigation of it through training
        and tools. To know more about Symbol Security you can <a class="text-blue-500 underline" href="https://symbolsecurity.com/">take a look at symbolsecurity.com</a>.
    </p>

    <h2 class="text-lg font-light text-gray-500 uppercase tracking-wider">Social</h2>
    <p class="text-2xl mb-4">
        I'm not a huge social network user. I actually try to limit my time on social networking platforms, however, you can reach me out on the following platforms:
        <ul class="text-2xl ml-5 pl-5 list-disc">
            <li>Github <a class="text-blue-500 underline" href="https://github.com/paganotoni">@paganotoni</a></li>
            <li>Twitter <a class="text-blue-500 underline" href="https://twitter.com/paganotoni">@paganotoni</a> </li>            
            <li><a class="text-blue-500 underline" href="https://wawand.co/blog/">Wawandco Blog</a></li>
        </ul>
    </p>


{{ end }}